body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    background-image: url(table.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgba(5, 40, 48, 0.544);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 5px black;
}
h1 {
    color: goldenrod;
    font-size: 4rem;
}

p {
    font-weight: bold;
    font-size: 2rem;
}
p, h1 {
    text-align: center;
}
#message-el {
    font-style: italic;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #FFDE4D;
    font-weight: bold;
}

button:hover {
    background-color: #d6bb42f8;
}

button:active{
    position: relative;
    top: 2px;
}
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}